.onlineuser_header {
    background-color: #151414;
    padding: 0 10px;
    border-radius: 7px;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onlineuser_user {
    height: 75dvh;
    overflow: scroll;
    flex-grow: 1;
    scrollbar-width: none;
}

@media only screen and (max-width:800px) {
    .onlineuser_main2 {
        height: 100dvh;
    }
}