.welcomepage_main {
    height: 100dvh;
    place-content: center;
    text-align: center;

    h1 {
        color: rgba(255, 255, 255, 0.355);
    }

    p {
        color: #ffffff5b;
    }
}

.light_theme {

    .welcomepage_main {

        .welcome_icon {
            color: #0000005b;
        }

        h1 {
            color: #0000005b;
        }

        p {
            color: #0000005b;
        }
    }
}